.doctors-page {

  &__cards {
    padding: 24px 0;
  }
}

.doctors-page .doctor-card {
  &__img-wrapper {
    margin: 0 auto 8px;
  }

  &__title {
    margin: 0 auto 8px;
    text-align: center;
  }

  &__desc {
    margin: 0 auto 16px;
    text-align: center;
  }

  &__location {
    margin-bottom: 16px;
  }

  &__amount {
    margin-bottom: 16px;
    text-align: center;
  }

  &__btn {
    width: 100%;
    margin-bottom: 40px;
  }
}