@import (reference) '../../less/variables.less';

.doctors-page {
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
  }
}

.doctors-page .doctor-card {

  @media screen and (min-width: @tablet-width) {
    display: grid;
    gap: 0 48px;
    align-items: start;
    grid-template-columns: 216px auto;
    grid-template-rows: auto auto;
    grid-template-areas: "area-1 area-2"
                         "area-3 area-3"
                         "area-4 area-4";
  }

  @media screen and (min-width: @desktop-width) {
    grid-template-columns: 216px auto;
    grid-template-areas: "col-1 col-2"
                         "col-1 col-3"
                         "col-1 col-4";
                         
  }

  &__img-wrapper {
    margin: 0 auto 8px;

    @media screen and (min-width: @tablet-width) {
      margin: 0;
      width: 100%;
      height: 100%;
    }

    @media screen and (min-width: @desktop-width) {
      grid-area: col-1;
    }
  }

  &__link {
    display: flex;
    margin-bottom: 8px;

    @media screen and (min-width: @tablet-width) {
      width: 100%;
      height: 100%;
    }

    &--img {
      @media screen and (min-width: @tablet-width) {
        margin-bottom: 0;
      }
    }
  }

  &__container {
    margin-bottom: 24px;

    @media screen and (min-width: @tablet-width) {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding-top: 1px;
    }

    @media screen and (min-width: @desktop-width) {
      position: relative;
      grid-area: col-2;
    }

    .doctor-card__link {

      @media screen and (min-width: @desktop-width) {
        padding-right: 224px;
      }
    }
  }

  &__title {
    text-align: center;
    margin: 0 auto;

    @media screen and (min-width: @tablet-width) {
      margin: 0;
      text-align: left;
    }
  }

  &__desc {
    margin: 0 auto 16px;
    text-align: center;

    @media screen and (min-width: @tablet-width) {
      margin: 0 0 16px;
      text-align: left;
    }
  }

  &__amount {
    margin-bottom: 16px;
    text-align: center;

    @media screen and (min-width: @tablet-width) {
      margin-bottom: 24px;
      text-align: left;
    }
  }

  &__btn {
    width: 100%;
    margin-bottom: 16px;

    @media screen and (min-width: @tablet-width) {
      width: 200px;
    }

    
    @media screen and (min-width: @desktop-width) {
      position: absolute;
      top: 0;
      right: 0;
      margin-bottom: 0;
    }
  }

  &__tabs-slogan {
    @media screen and (min-width: @tablet-width) {
      width: 100%;
      padding-top: 40px;
      grid-area: area-3;
    }

    @media screen and (min-width: @desktop-width) {
      padding-top: 24px;
      grid-area: col-3;
    }
  }

  &__tabs {
    @media screen and (min-width: @tablet-width) {
      width: 100%;
      grid-area: area-4;
    }  

    @media screen and (min-width: @desktop-width) {
      grid-area: col-4;
    }
  }

}
