@import (reference) '../../less/variables.less';

.tabs {

  &__content-item.is-initialized {
    display: none;
  }

  &__content-item.is-active {
    display: block;
  }

  
  &__content-item {
    width: 100%;
    display: none;
    padding: 12px 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;

    p {
      margin: 0 0 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: @desktop-width) { 
      font-size: 15px;
      line-height: 140%;
      
      p {
        margin: 0 0 24px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}